html {
	font-family: Arial;
	font-size: 12pt;
}
#main {
	margin: auto;
	max-width: 980px;
	width: 80%;
}

#timeline p {
	margin-top: 0;
}
dt {
	border: solid gray;
	border-width: 0 0 0 2px;
	padding: 0.15em 0.5em;
	text-align: left;
	float: left;
}
dd {
	margin-left: 60px;
	padding: 0.15em;
}

.realisations {
	margin: 0 0 0 -1em;
	padding: 0;
}
.realisations li {
	display: inline-block;
}
figure {
	border: 1px solid gray;
	margin: 0 1em 1em 1em;
	height: 130px;
}
figure img {
	height: auto;
	width: 140px;
}
figcaption {
	text-align: center;
}