html {
	font-family: Arial;
	font-size: 12pt;
}
body {
	background: white url("images/background.png") repeat;
	margin: 0;
}
#main {
	border: 3px double white;
	border-width: 0 3px;
	background-color: #2e2e2e;
	color: white;
	margin: auto;
	max-width: 980px;
	padding: 1em 0;
	overflow: hidden;
	width: 80%;
}

header {
	padding: 1em 0;
}

header {
	background-color: #373737;
	margin: 0;
}
header h1 {
	margin: 0;
}

#profil {
	margin: 0 2em;;
}
#profil img {
	float: left;
	margin-right: 1em;
}
#profil:after {
	clear: both;
	content: '';
	display: block;
}

#slider {
	margin: 2em;
}
#slider img {
	width: 100%;
	height: auto;
}

#timeline {
	line-height: 1.25;
	margin: 0 2em;
}
#timeline p {
	margin-top: 0;
}
dt {
	border: solid gray;
	border-width: 0 0 0 2px;
	padding: 0.15em 0.5em;
	text-align: left;
	float: left;
}
dd {
	margin-left: 60px;
	padding: 0.15em;
}

#realisations {
	margin: 0 2em;
}
#realisations > ul {
	list-style: none;
	padding: 0;
}
#realisations > ul > li {
	background-color: #373737;
	margin: 1em 0;
	overflow: hidden;
	padding: 0 1em;
}

.gallery {
	margin: 0.5em 0 0 -0.5em;
	padding: 0;
}
.gallery li {
	display: inline-block;
	vertical-align: top;
}

.gallery figure {
	background-color: white;
	border: 1px solid gray;
	margin: 0 0.5em 1em 0.5em;
	position: relative;
	height: 120px;
}
.gallery figure img {
	height: auto;
	width: 140px;
}
.gallery figcaption {
	background-color: #373737;
	background-color: rgba(0, 0, 0, 0.70);
	color: white;
	line-height: normal;
	text-align: center;
	padding: 0.5em 0;

	position: absolute;
	bottom: 10%;
	width: 100%;
}
.competences {
	margin-top: 0.5em;
}
.fullWidth {
	margin: 0 -2em;
}