html {
	font-family: Arial;
	font-size: 12pt;
}
#main {
	margin: auto;
	max-width: 980px;
	width: 80%;
}

#timeline p {
	margin-top: 0;
}
dt {
	border: solid gray;
	border-width: 0 0 0 2px;
	padding: 0.15em 0.5em;
	text-align: left;
	float: left;
}
dd {
	margin-left: 60px;
	padding: 0.15em;
}

.realisations {
	margin: 0 0 0 -1em;
	padding: 0;
}
.realisations li {
	display: inline-block;
	vertical-align: top;
}
.competences {
	margin-top: 0.5em;
}
figure {
	border: 1px solid gray;
	margin: 0 1em 1em 1em;
	position: relative;
	height: 120px;
}
figure img {
	height: auto;
	width: 140px;
}
figcaption {
	background-color: #373737;
	background-color: rgba(0, 0, 0, 0.70);
	color: white;
	line-height: normal;
	text-align: center;
	padding: 0.5em 0;

	position: absolute;
	bottom: 10%;
	width: 100%;
}