<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Robin BARKAS{% endblock %}</title>
        <link rel="stylesheet" href="design.css">
    </head>
    <body>
        <div id="main">
            <header>
                <div id="profil">
                    <img src="images/profil.jpg" />
                    <h1>Robin BARKAS</h1>
                    <h2>Développeur Web</h2>
                    <p>Strasbourg</p>
                </div>
            </header>
            {% block mainContent %}{% endblock %}
        </div>
    </body>
</html>